
<h1>Hello <%= currentUser.NAME %></h1>

<h2>Bank accounts :</h2>

<% accounts.forEach(function(account){ %>

    <div style="display: flex; gap: 0.5rem">

        <span><%= account.NAME %></span>

        <span><%= account.AMOUNT %>$</span>

    </div>

<% }); %>

<form method="post" action="http://localhost:3000/accounts">

    <input type="text" name="name" placeholder="acounts name">
    <input type="text" name="amount" placeholder="agent de depart">
    <input type="number" name="user_id" hidden="hidden" value=<%= currentUser.ID %>>
    <input type="submit">

</form>