<h1>Hello <%= currentUser.NAME %></h1>
<h2>Bank accounts :</h2>
<% accounts.forEach(function(account){ %>
<div style="display: flex; gap: 0.5rem">
  <span><%= account.NAME %></span>
  <span><%= account.AMOUNT %>$</span>
</div>
<% }); %>

<form action="/accounts" method="post">
    <input type="hidden" name="userId" value="<%= currentUser.ID %>">
    <input type="text" name="accountName" placeholder="Nom du compte">
    <input type="number" name="initialAmount" placeholder="Montant initial">
    <button type="submit">Créer un compte</button>
</form>
